html, body {
    margin: 0;
    padding: 0;
    /*background: gray;*/

    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Lato', sans-serif;*/

    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    /*font-display: optional;*/
}

body {
    overscroll-behavior: contain;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /*min-height: 100vh;*/
    /*padding-top:  env(safe-area-inset-top, 20px);*/
}

main {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    bottom: 50%;
    /*height: 100vh;*/
    /*background: darkgray;*/

    box-sizing: border-box;
    padding: 20px;
    font-size: 30px;
}

main.green {
    background-color: #08f26e;
}

main.red {
    background: #e70101;
}

#info {

}

@media screen and (max-width: 480px) {
    main {
        height: calc(100vh - 60px);
    }
}