html, body {
    margin: 0;
    padding: 0;
    /*background: gray;*/

    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Lato', sans-serif;*/

    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    /*font-display: optional;*/
}

body {
    overscroll-behavior: contain;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /*min-height: 100vh;*/
    /*padding-top:  env(safe-area-inset-top, 20px);*/
}

main {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    /*bottom: 50%;*/
    height: 100vh;
    /*background: darkgray;*/

    box-sizing: border-box;
    /*padding: 20px;*/
    font-size: 30px;
}

main.green {
    background-color: #08f26e;
}

main.red {
    background: #e70101;
}

.info {
    width: 100%;
    height: 50vh;

}

.status {
    padding: 20px;
}




input.slider {
    background: yellow;
}

.controls {
    position: relative;
    width: 100%;
    height: 50vh;
    background: ghostwhite;
    text-align: center;
}

input {
    background: gray;
    height: 50px;
    width: 30%;
}

input:focus {
    outline: none;
}

input.backBottom {
    position: absolute;
    right: 0;
    bottom: 100px;
    background: red;

    transform: rotate(45deg);
}

input.backTop {
    position: absolute;
    right: 0;
    top: 100px;
    background: red !important;

    transform: rotate(135deg);
}

input.forwardBottom {
    position: absolute;
    left: 0;
    bottom: 100px;
    background: red;

    transform: rotate(45deg);
}

input.forwardTop {
    position: absolute;
    left: 0;
    top: 100px;
    background: red;

    transform: rotate(135deg);
}

@media screen and (max-width: 480px) {
    main {
        height: calc(100vh - 60px);
    }
}